body {
/*    background: url(images/wallpaper.png);
    background-repeat: round;*/

    background-color: rgb(15,15,15);
}

.grid {
    width: 520px;
    height: 520px;
    border: 2.5px ridge white;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.scoreDisplay {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid div {
    width: 20px;
    height: 20px;
}

.title {
    text-align:center;
    color:lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.snake {
    background: blue;
    border-radius: 10px;
}

.apple {
    background-image: url(images/apple.png);
    background-repeat: round;
}

.poison {
    background-image: url(images/poison.png);
    background-repeat: round;
}

.cookie {
    background-image: url(images/rottenApple.png);
    background-repeat: round;
}


.potion {
    background-image: url(images/potion.png);
    background-repeat: round;
}

.popup {
    background: rgb(32, 31, 31);
    width: 100px;
    height: 100px;
    position: fixed;
    top: 100px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}